<style>
body  {
    background-color: black;
   
}
h1 {
    border-bottom: 1px solid;
    margin-bottom: 0;
    color: cyan;
}

main {
    margin-left: 7em;
    padding: 1px 0 1px 5%;
    border-left: 1px solid;
}

nav {
    float: left;
    width: 7em;
    background: #FDD;
}

nav ul {
     margin: 0;
     padding: 0;
     width: 7em;
     background: white;
     border: 1px solid;
}

nav li {
     position: relative;
     list-style: none;
     margin: 0;
     border-bottom: 1px solid #CCC;
}

nav ul ul {
    position: absolute;
    top: 0;
    left: 7em;
    display: none;
}

nav li a {
    display: block;
    padding: 0.25em 0 0.25em 0.5em;
    text-decoration: none;
}

nav li:hover {
    background: #6F99F2;
}

nav li.submenu {
    background: url(http://interactivepython.org/runestone/static/webfundamentals/_static/submenu.gif) 95% 50% no-repeat;
}

nav li.submenu:hover {
    background-color: #EDD;
}

nav ul.level1 li.submenu:hover ul.level2,
nav ul.level2 li.submenu:hover ul.level3 {
    display:block;
}
</style>